html {
    cursor: help;
}

body {
    font-family: 'Amatic SC', cursive;
    vertical-align: middle;
}

/* Random */
a {
    color : #1b2735;
}

a:visited {
    color: #1b2735;
}
    
a:active {
    color: #1b2735;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Card */
.card {
    position: relative;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.card__btn {
    font-size: 48px;
    display: block;
    width: 150px;
    margin: 407px auto;
    padding: 6px;
    border: 2px solid #1b2735;
    cursor: pointer;
    transition: .5s linear;
    text-decoration: none;
}

.card__btn:hover {
    color: #fffefc;
    border-color: #fffefc;
    background: #1b2735;
}
