body {
    font-family: 'Amatic SC', cursive;
    max-width: 100%;
    vertical-align: middle;
}

/* Random */
a:visited {
    color: #0e0e0e;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Card */
.card {
    position: relative;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.card__btn {
    font-size: 48px;
    display: block;
    width: 150px;
    margin: 407px auto;
    padding: 6px;
    border: 2px solid #0e0e0e;
    cursor: pointer;
    transition: .5s linear;
    text-decoration: none;
}

.card__btn:hover {
    color: #fffefc;
    border-color: #fffefc;
    background: #0e0e0e;
}
